@use 'bootstrap/scss/bootstrap';
@use 'highlight.js/styles/github-dark.css';
@use 'image-compare-viewer/dist/image-compare-viewer.min.css';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.zipdiffer-checkerboard {
  background-position:
    0px 0px,
    10px 10px;
  background-repeat: repeat;
  background-size: 20px 20px;
  background-image:
    linear-gradient(
      45deg,
      #eee 25%,
      transparent 25%,
      transparent 75%,
      #eee 75%,
      #eee 100%
    ),
    linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
}
